.navcontainer{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
    /* position: relative; */
}

.navlogo{
    display: flex;
    position: relative;
    /* gap: 20px; */
}
.navlogo img{
    height: 50px;
    width: 50px;
    padding: 20px;
    align-items: center;
}
.navlogo h1{
    color: red;
}
.navlinkss{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}
.navlogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
    padding-right:40px ;
}

.navlogin button{
    padding: 10px;
    border-radius: 5px;
}
.register{
    /* background-color: blue; */
    color: white;
}
.navlogin img{
    height: 25px;
    width: 25px;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.navlogin select{
    border: none;
    font-size: 14px;   
}


.navlogin img:first-child{
    height: 50px;
    width: 50px;
    padding: 20px;
    align-items: center;
    border-radius: 50%;
}

.search{
    display: flex;
    border: 0.1px solid rgb(104, 106, 101);
    border-radius: 30px;
    align-items: center;
    height: 40px;
    padding:0 12px;
    gap: 8px;
}
.search img{
    height: 18px;
    width: 18px;
}
.search input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    flex: 1;
}