.navcontainer{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px;
    /* position: relative; */
}

.navlogo{
    display: flex;
    position: relative;
}
.navlogo img{
    height: 50px;
    width: 50px;
    padding: 20px;
    align-items: center;
}
.navlogo h1{
    color: red;
}
.navlinkss{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
}
.navlogin{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.navlogin button{
    padding: 10px;
    border-radius: 5px;
}
.register{
    background-color: blue;
    color: white;
}


