
.navbar-container {
    height: 50px;
    display: flex;
    
    align-items: center;             
    padding: 0 20px;                 
    background-color: #f8f8f8;       
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}


.nav-links {
    list-style: none;       
    display: flex;          
    gap: 20px;              
    margin: 0;
    padding: 0;
    justify-content: space-between;  
}

